
.tree-view {
    
    border: 1px solid #c4c4c4;
    height: 300px;
    width: 200px;
    user-select: none;

    .item {
        padding: 2px 6px;
        cursor: pointer;
        display: none;
    }

    .item.visible {
        display: block;
    }

}