
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;

    .doc-content {
        flex: 1;
        display: flex;
    }
}